/* Variables
-------------------------------------------------------------- */

$size-sm: 90px;
$size: 90px;
$spacing: 5px;

$player-1-icon: "\f00d";
$player-2-icon: "\f10c";

$player-1-color: #dc685a;
$player-2-color: #ecaf4f;
$hover-color: #3d4250;

$border-style: 1px solid black;

/* Tic-tac-toe game
-------------------------------------------------------------- */

@import "compass/css3/transition";

.tic-tac-toe {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 30px auto;
  position: relative;
  text-align: center;
  display: inline-block;

  .row {

  }

  .col {
    height: ($size * 2) + 2;
    width: ($size * 2) + 2;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 2px 1px 2px;

//    @media(min-width: 1015px) {
//      height: ($size * 2) + 2;
//      width: ($size * 2) + 2;
//    }

//    @media(min-width: 1350px) {
//      height: ($size * 3) + 2;
//      width: ($size * 3) + 2;
//    }
  }

  .boardActive {
    height: ($size * 2) + 4;
    width: ($size * 2) + 4;
    border: 2px solid #00AA00;
    margin: 1px 0 1px;

//    @media(min-width: 1015px) {
//      height: ($size * 2) + 4;
//      width: ($size * 2) + 4;
//    }

//    @media(min-width: 1350px) {
//      height: ($size * 3) + 4;
//      width: ($size * 3) + 4;
//    }
  }

  .mini-row {
  }

  .mini-col {
    height: $size / 1.5;
    width: $size / 1.5;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

//    @media(min-width: 1015px) {
//      height: $size / 1.5;
//      width: $size / 1.5;
//    }

//    @media(min-width: 1350px) {
//      height: $size;
//      width: $size;
//    }
  }

  .mini-col.mini-col-x {
    &:hover {
      cursor: pointer;
      background-color: $player-1-color;
    }
  }

  .mini-col.mini-col-y {
    &:hover {
      cursor: pointer;
      background-color: $player-2-color;
    }
  }

  .cell-pick-x {
    cursor: auto;
    background-color: $player-1-color;
  }

  .cell-pick-y {
    cursor: auto;
    background-color: $player-2-color;
  }

  .cell-pick-x:after {
    font-family: "FontAwesome";
    margin-top: -($size-sm*0.5)/2;
    content: $player-1-icon;
    font-size: 35px;
    color: #ffffff;
    top: 50%;
    width: 100%;
    vertical-align: -50%;
  }

  .cell-pick-y:after {
    font-family: "FontAwesome";
    margin-top: -($size-sm*0.5)/2;
    content: $player-2-icon;
    font-size: 40px;
    color: #ffffff;
    top: 50%;
    width: 100%;
    vertical-align: -50%;
  }

  .board-winner-x {
    background-color: rgba(220,104,90,0.6);
  }

  .board-winner-x:after {
    font-family: "FontAwesome";
    margin-top: -($size-sm*0.5)/2;
    content: $player-1-icon;
    font-size: 180px;
    color: #ffffff;
    top: -200px;
    width: 100%;
    position: relative;
    display: block;
    opacity: 0.5;
    pointer-events: none;
  }

  .board-winner-y {
    background-color: rgba(236,175,79, 0.6);
  }

  .board-winner-y:after {
    font-family: "FontAwesome";
    margin-top: -($size-sm*0.5)/2;
    content: $player-2-icon;
    font-size: 180px;
    color: #ffffff;
    top: -200px;
    width: 100%;
    position: relative;
    display: block;
    opacity: 0.5;
    pointer-events: none;
  }

  .cell-0-0 {
    border-right: $border-style;
    border-bottom: $border-style;
  }

  .cell-0-1 {
    border-right: $border-style;
    border-bottom: $border-style;
  }

  .cell-0-2 {
    border-bottom: $border-style;
  }

  .cell-1-0 {
    border-right: $border-style;
    border-bottom: $border-style;
  }

  .cell-1-1 {
    border-right: $border-style;
    border-bottom: $border-style;
  }

  .cell-1-2 {
    border-bottom: $border-style;
  }

  .cell-2-0 {
    border-right: $border-style;
  }

  .cell-2-1 {
    border-right: $border-style;
  }

  .cell-2-2 {
  }



  input[type="radio"] {
    // Hide radio buttons
    display: none;

    height: $size / 3;
    width: $size / 3;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;

    // Put the label above the rest, when checked
    &:checked + label {
      cursor: default;
      z-index: 10 !important;
    }

    // Player 1 icon
    //    &.player-1 + label:after { content: $player-1-icon; }
    label:after {
      content: $player-1-color;
    }

    // Player 2 icon
    //    &.player-2 + label:after { content: $player-2-icon; }

    // Show icon when checked
    //    &.player-1:checked + label:after,
    //    &.player-2:checked + label:after { opacity: 1; }

    &:checked + label:after {
      opacity: 1;
    }

    // Player 1 color
    //    &.player-1:checked + label { background-color: $player-1-color; }
    //
    //    // Player 2 color
    //    &.player-2:checked + label { background-color: $player-2-color; }

  }

  // Label style
  label {
    background-color: #78bec5;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;
    display: none;
    margin: $spacing;
    position: absolute;
    height: $size / 3;
    width: $size / 3;
    @include transition(background-color .3s);

    @media(min-width: 450px) {
      height: ($size + $spacing*2)*3;
      width: 100%;
    }

    // Label hover effect
    &:hover {
      background-color: $hover-color;

      &:after {
        opacity: .4;
      }
    }

    // Icon style
    &:after {
      left: 0;
      font-family: "FontAwesome";
      font-size: $size-sm*0.5;
      margin-top: -($size-sm*0.5)/2;
      opacity: 0;
      position: absolute;
      text-align: center;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      top: 50%;
      width: 100%;

      @media(min-width: 450px) {
        font-size: $size*0.5;
        margin-top: -($size*0.5)/2;
      }
    }
  }

}

.my-side-bar {
  padding: 0;
}

.user-list {

  li {
    height: 45px;
    padding: 10px;
    background-color: gainsboro;
    font-family: tahoma, sans-serif;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      background-color: #555555;
      color: #ffffff;
      font-weight: bold;
    }
  }
}

h2 {
  width: 70%;
  margin: 0 auto;
}