<tabset vertical="true" type="navType" class="left-align">
    <tab heading="Map view" select="admin.changeTab('admin.map')" ></tab>
    <tab heading="User management" select="admin.changeTab('admin.userManager')"></tab>
    <tab heading="Registration graph" select="admin.changeTab('admin.graph')"></tab>

    <!--<tab heading="User Manager" ui-sref="admin.userManager"></tab>-->
    <!--<tab heading="Map View" ui-sref="admin.map"></tab>-->
</tabset>

<section class="left-align">

    <ui-view ></ui-view>

</section>