<div class="small-3 large-2 columns my-side-bar" style="background-color: darkgrey; height: 100%">
    <l>Choose your opponent:</l>
    <input type="text" placeholder="Search user" ng-model="game.search.name">
    <ul class="side-nav user-list">
        <li ng-repeat="user in game.users | filter: game.search.name" ng-click="game.sendRequest(user)">{{ user }}</li>
    </ul>
</div>


<div class="tic-tac-toe small-7 large-8 columns">

    <h3 ng-show="game.inGame">You vs {{ game.opponent }}</h3>

    <button class="button" ng-click="open()">Open me!</button>

    <div class="row">
        <div class="col"
             ng-class="{ boardActive: game.board.board[0][0].isAlowed, 'board-winner-x': game.board.board[0][0].winner == 'x', 'board-winner-y': game.board.board[0][0].winner == 'o' }">
            <mini-tic-tac-toe mini-board="game.board.board[0][0].board"></mini-tic-tac-toe>
        </div>
        <div class="col"
             ng-class="{ boardActive: game.board.board[0][1].isAlowed, 'board-winner-x': game.board.board[0][1].winner == 'x', 'board-winner-y': game.board.board[0][1].winner == 'o' }">
            <mini-tic-tac-toe mini-board="game.board.board[0][1].board"></mini-tic-tac-toe>
        </div>
        <div class="col"
             ng-class="{ boardActive: game.board.board[0][2].isAlowed, 'board-winner-x': game.board.board[0][2].winner == 'x', 'board-winner-y': game.board.board[0][2].winner == 'o' }">
            <mini-tic-tac-toe mini-board="game.board.board[0][2].board"></mini-tic-tac-toe>
        </div>
    </div>
    <div class="row">
        <div class="col"
             ng-class="{ boardActive: game.board.board[1][0].isAlowed, 'board-winner-x': game.board.board[1][0].winner == 'x', 'board-winner-y': game.board.board[1][0].winner == 'o' }">
            <mini-tic-tac-toe mini-board="game.board.board[1][0].board"></mini-tic-tac-toe>
        </div>
        <div class="col"
             ng-class="{ boardActive: game.board.board[1][1].isAlowed, 'board-winner-x': game.board.board[1][1].winner == 'x', 'board-winner-y': game.board.board[1][1].winner == 'o' }">
            <mini-tic-tac-toe mini-board="game.board.board[1][1].board"></mini-tic-tac-toe>
        </div>
        <div class="col"
             ng-class="{ boardActive: game.board.board[1][2].isAlowed, 'board-winner-x': game.board.board[1][2].winner == 'x', 'board-winner-y': game.board.board[1][2].winner == 'o' }">
            <mini-tic-tac-toe mini-board="game.board.board[1][2].board"></mini-tic-tac-toe>
        </div>
    </div>
    <div class="row">
        <div class="col"
             ng-class="{ boardActive: game.board.board[2][0].isAlowed, 'board-winner-x': game.board.board[2][0].winner == 'x', 'board-winner-y': game.board.board[2][0].winner == 'o' }">
            <mini-tic-tac-toe mini-board="game.board.board[2][0].board"></mini-tic-tac-toe>
        </div>
        <div class="col"
             ng-class="{ boardActive: game.board.board[2][1].isAlowed, 'board-winner-x': game.board.board[2][1].winner == 'x', 'board-winner-y': game.board.board[2][1].winner == 'o' }">
            <mini-tic-tac-toe mini-board="game.board.board[2][1].board"></mini-tic-tac-toe>
        </div>
        <div class="col"
             ng-class="{ boardActive: game.board.board[2][2].isAlowed, 'board-winner-x': game.board.board[2][2].winner == 'x', 'board-winner-y': game.board.board[2][2].winner == 'o' }">
            <mini-tic-tac-toe mini-board="game.board.board[2][2].board"></mini-tic-tac-toe>
        </div>
    </div>


</div>


<div class="small-2 large-2 columns">
    <div ng-show="game.askingUser" class="panel callout radius"><h5>You got an invitation from {{ game.askingUser
        }}</h5>

        <p>Please play fair, without kicking the nuts</p>
        <button class='button' ng-click="game.acceptInvite()">Let's Play</button>
    </div>
    <div ng-show="game.waitingToResponse" class="panel callout radius"><h5>Invitation sent to {{ game.invitedUser
        }}</h5>

        <button class='button' ng-click="game.cancelInvite()">Cancel</button>
    </div>
</div>





