<div class="text-center">
    <h2 class="shadow">You came to the right place to play Tic Tac Toe</h2>

    <br>
    <!--<video width="640" height="360" id="player1" preload="none">-->
        <!--<source type="video/youtube" src="https://www.youtube.com/watch?v=37PC0bGMiTI" />-->
    <!--</video>-->
    <!--<video width="640" height="360" ng-src="{{trustedUrl}}" controls></video>-->

    <iframe type="text/html"
            width="640"
            height="385"
            src="http://www.youtube.com/embed/37PC0bGMiTI"
            frameborder="0">
    </iframe>
</div>