<div class="tic-tac-toe">
    <div class="row">
        <div class="col" ng-model="" ng-click=""></div>
        <div class="col" ng-model="" ng-click=""></div>
        <div class="col" ng-model="" ng-click=""></div>
    </div>
    <div class="row">
        <div class="col" ng-model="" ng-click=""></div>
        <div class="col" ng-model="" ng-click=""></div>
        <div class="col" ng-model="" ng-click=""></div>
    </div>
    <div class="row">
        <div class="col" ng-model="" ng-click=""></div>
        <div class="col" ng-model="" ng-click=""></div>
        <div class="col" ng-model="" ng-click=""></div>
    </div>
</div>