<style>

    body {
        font: 10px sans-serif;
    }

    .arc path {
        stroke: #fff;
    }

</style>

<div class="text-center">
    <h1>{{ctrl.user.name}}</h1>

    <br>

    <p>Mail: {{ctrl.user.mail}}</p>

    <div ng-show="ctrl.user.data[0].y + ctrl.user.data[1].y > 0" style="width: 600px; margin: -100px auto 0;">
        <nvd3-pie-chart
                data="ctrl.user.data"
                id="exampleId"
                width="500"
                height="500"
                x="ctrl.xFunction()"
                y="ctrl.yFunction()"
                showLabels="true">
            <svg></svg>
        </nvd3-pie-chart>
    </div>

    <button ng-click="ctrl.signUserOut()">Sign out</button>
    <button ng-click="ctrl.deleteUser()">Delete account</button>

</div>