<div class="left">
    <div >
        <input width="200" type="text" placeholder="Filter by username" ng-model="man.search.name">
        <input width="200" type="text" placeholder="Filter by email" ng-model="man.search.mail">
        <input width="200" type="text" placeholder="Filter by country" ng-model="man.search.country">
    </div>

    <div class="bottom">
        <table>
            <thead>
                <tr>
                    <th width="100">Username</th>
                    <th width="100">Password</th>
                    <th width="200">Email</th>
                    <th width="100">Country</th>
                    <th width="50">Block</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in man.users | filter: man.search">
                    <td>{{user.name}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.mail}}</td>
                    <td>{{user.country}}</td>
                    <!--<td>{{user.blocked}}</td>-->
                    <td><input id="checkbox1" type="checkbox" ng-model="user.blocked" ng-change="man.blockUser(user)"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>