/* Variables
-------------------------------------------------------------- */
/* Tic-tac-toe game
-------------------------------------------------------------- */
/* line 18, ../sass/TicTacToe.scss */
.tic-tac-toe {
  font-family: 'Open Sans', sans-serif;
  height: 200px;
  overflow: hidden;
  margin: 50px auto 30px auto;
  position: relative;
  width: 300px;
  display: inline-block;
}
@media (min-width: 450px) {
  /* line 18, ../sass/TicTacToe.scss */
  .tic-tac-toe {
    height: 450px;
    width: 450px;
  }
}
/* line 36, ../sass/TicTacToe.scss */
.tic-tac-toe .col {
  height: 140px;
  width: 140px;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
}
/* line 43, ../sass/TicTacToe.scss */
.tic-tac-toe .col:hover {
  color: #dc685a;
}
